<table cellpadding="0" cellspacing="0" border="0"
       style="background: none; border-width: 0; margin: 0; padding: 0">
    <tr>
        <td valign="top"
            style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 7px; border-top: 0; border-bottom: 0; border-left: 0; border-right: solid 3px #F7751F">
            <a href="http://www.qub.ac.uk/" style="border-width:0; text-decoration: none;">
                <img id="preview-image-url" src="https://drive.google.com/uc?id=0B2pesdvVtWSoaTQ3YTl6SFJyYk0"
                     alt="Queen's University Belfast">
            </a>
        </td>
        <td style="padding-top: 0; padding-bottom: 0; padding-left: 12px; padding-right: 0;">
            <table cellpadding="0" cellspacing="2px" border="0"
                   style="background: none; border-width: 0; margin: 0; padding: 0; vertical-align: middle">
                <tr>
                    <td colspan="2"
                        style="padding-bottom: 2px; color: #F7751F; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                        Soumya Shubhra Ghosh
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="color: #333333; font-size: 10px; font-family: Arial, Helvetica, sans-serif;">
                        <i>Research Student</i></td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="padding-bottom: 0; color: #333333; font-size: 10px; font-family: Arial, Helvetica, sans-serif;">
                        <strong>Centre for Data Science and Scalable Computing</strong></td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="padding-bottom: 2px; color: #333333; font-size: 10px; font-family: Arial, Helvetica, sans-serif;">
                        Belfast BT3 9DT, United Kingdom
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="60px"
                        style="vertical-align: center; padding-right: 0; color: #F7751F; font-size: 10px; font-family: Arial, Helvetica, sans-serif">
                        <a href="https://www.linkedin.com/in/connectsoumya/"
                           style="border-width:0; text-decoration: none;"><img
                                width="25" height="25"
                                style="border: none; height: 20px; max-height: 20px !important; width: 20px; max-width: 20px !important;"
                                alt="Linkedin"
                                src="http://cdn2.hubspot.net/hubfs/184235/dev_images/signature_app/linkedin_sig.png">
                        </a>&nbsp;&nbsp;
                        <a href="skype:connectsoumya"
                           style="border-width:0; text-decoration: none;"><img
                                style="border: none; height: 20px; max-height: 20px !important; width: 20px; max-width: 20px !important;"
                                alt="Skype"
                                src="https://drive.google.com/uc?id=0B2pesdvVtWSoTG1TdVNSczREQUE">
                        </a>
                    </td>
                    <td style="vertical-align: bottom; padding-left: 0; padding-bottom: 5px; color: #333333; font-size: 10px; font-family: Arial, Helvetica, sans-serif;">
                        +44 7473701715&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
    <tr>
        <td colspan="2">
            <a href="http://www.ecit.qub.ac.uk/" style="border-width:0; text-decoration: none;">
                <img style="padding-top: 10px; border: none"
                     alt="ECIT"
                     src="https://drive.google.com/uc?id=0B2pesdvVtWSoRVVZNk5BTk1XQnM">
            </a>
            <a href="http://www.ecit.qub.ac.uk/" style="border-width:0; text-decoration: none;">
                <img style="padding-top: 10px; border: none"
                     alt="The Institute of Electronics, Communications and Information Technology"
                     src="https://drive.google.com/uc?id=0B2pesdvVtWSoN0pBOGZ5YWo2VEU">
            </a>
        </td>
    </tr>
</table>